<!DOCTYPE html>
<html>
  <head>
    <title>TryDecorator</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h2>カレントユーザ：<%= current_user.user_name %></h2>
    <%= yield %>
  </body>
</html>
